<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IoT Control</title>

    <! -- STYLE CSS -->
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
<div class="container">
    <div class="sidebar">
        <div class="header">
            <div class="list-item">
                <span class="description-header">BBPPMPV BOE</span>
                </a>
            </div>
            <div class="illustration">
                <img src="/static/img/tut.png" style="width:100px; height:100px;" alt="">
            </div>

        </div>
        <div class="main">
            <div class="list-item">
                <a href="/monitoring">
                    <img src="/static/img/sensor.png" style="width:20px; height:20px;" alt="" class="icon">
                </a>
                <span class="description">Monitoring</span>
            </div>
            <div class="list-item">
                <a href="/client">
                    <img src="/static/img/control_client.png" style="width:20px; height:20px;" alt="" class="icon">
                </a>
                <span class="description">Client Control</span>
            </div>
            <div class="list-item">
                <a href="/history">
                    <img src="/static/img/history.png" style="width:20px; height:20px;" alt="" class="icon">
                </a>
                <span class="description">History</span>
            </div>
            <div class="list-item">
                <a href="/logout">
                    <img src="/static/img/logout.png" style="width:20px; height:20px;" alt="" class="icon">
                </a>
                <span class="description">Logout</span>
            </div>
            <div class="side_time">
                <div class="side_time_box">
                    <h5 id="side-date" style="font-size: 20px; margin-left: 5px; color: #DFD7BF"> 00 / 00 / 0000</h5>
                    <br>
                    <h5 id="side-time" style="font-size: 22px; margin-left: 15px; color: #DFD7BF"> 00 : 00 : 00</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div id="menu-button">
            <input type="checkbox" id="menu-checkbox">
            <label for="menu-checkbox" id="menu-label">
                <div id="hamburger"></div>
            </label>
        </div>
        <div class="bodyHeader"><h1>INTERNET OF THINGS DASHBOARD</h1></div>
        <div class="card-container">

            <div class="main-card" id="client1Data">
                <h3>CLIENT 1</h3>
                <h5 id="IP_1" style="color:white; margin-top:2px; margin-bottom:5px;"></h5>
                <div class="tempCard">
                    <img src="/static/img/temp.png" style="width:40px; height:40px;" alt="" class="icon">
                    <h7 id="S1_A">00.00 °C</h7>
                </div>
                <div class="humCard">
                    <img src="/static/img/kelembapan.png" style="width:40px; height:40px;" alt="" class="icon">
                    <h7 id="S1_B">00.00 %</h7>
                </div>
            </div>


            <div class="main-card" id="client2Data">
                <h3>CLIENT 2</h3>
                <h5 id="IP_2" style="color:white; margin-top:2px; margin-bottom:5px;"></h5>
                <div class="tempCard">
                    <img src="/static/img/air.png" style="width:40px; height:40px;" alt="" class="icon">
                    <h7 id="S2_A">00.00 °C</h7>
                </div>
                <div class="humCard">
                    <img src="/static/img/jarak.png" style="width:40px; height:40px;" alt="" class="icon">
                    <h7 id="S2_B">00.00 cm</h7>
                </div>
            </div>

            <div class="main-card" id="client3Data">
                <h3>CLIENT 3</h3>
                <h5 id="IP_3" style="color:white; margin-top:2px; margin-bottom:5px;"></h5>
                <div class="tempCard">
                    <img src="/static/img/ampere.png" style="width:40px; height:40px;margin-left:-10px;" alt=""
                         class="icon">
                    <h7 id="S3_A" style="margin-left:-10px;">00.00 Amp</h7>
                    <img src="/static/img/watt.png" style="width:40px; height:40px;margin-left:30px;" alt=""
                         class="icon">
                    <h7 id="S3_C" style="margin-left:-10px;">00.00 Watt</h7>
                </div>
                <div class="humCard">
                    <img src="/static/img/voltage.png" style="width:40px; height:40px;margin-left:-10px;" alt=""
                         class="icon">
                    <h7 id="S3_B" style="margin-left:-15px;">00.00 Volt</h7>
                    <img src="/static/img/kwh.png" style="width:30px; height:30px;margin-left:30px;" alt=""
                         class="icon">
                    <h7 id="S3_D" style="margin-left:-10px;">00.00 Wh</h7>
                </div>
            </div>
        </div>
        <div class="grafik-container">
            <div class="grafik-card-1">
                <h6>CLIENT 1</h6>
                <canvas id="lineChart_1"></canvas>
            </div>
            <div class="grafik-card-2">
                <canvas id="lineChart_2"></canvas>
                <h6>CLIENT 2</h6>
            </div>
            <div class="grafik-card-3">
                <canvas id="lineChart_3"></canvas>
                <h6>CLIENT 3</h6>
            </div>
            <div class="grafik-card-4">
                <div class="box">
                    <h5 style="color:white; margin: auto;">CLIENT 1</h5>
                    <h6 style="color:white; margin-top: 20px;font-size: 15px;">Status:</h6>
                    <h6 id="status_client_1" style="color:white; margin-top: 5px;font-size: 15px;">Offline</h6>
                    <h6 style="color:white; margin-top: 20px;font-size: 15px;">Data Masuk:</h6>
                    <h6 id="Data_client_1" style="color:white; margin-top: 5px;margin-bottom: 15px; font-size: 15px;">
                        0</h6>
                </div>
                <div class="box">
                    <h5 style="color:white; margin: auto;">CLIENT 2</h5>
                    <h6 style="color:white; margin-top: 20px;font-size: 15px;">Status:</h6>
                    <h6 id="status_client_2" style="color:white; margin-top: 5px;font-size: 15px;">Offline</h6>
                    <h6 style="color:white; margin-top: 20px;font-size: 15px;">Data Masuk:</h6>
                    <h6 id="Data_client_2" style="color:white; margin-top: 5px;margin-bottom: 15px; font-size: 15px;">
                        0</h6>
                </div>
                <div class="box">
                    <h5 style="color:white; margin: auto;">CLIENT 3</h5>
                    <h6 style="color:white; margin-top: 20px;font-size: 15px;">Status:</h6>
                    <h6 id="status_client_3" style="color:white; margin-top: 5px;font-size: 15px;">Offline</h6>
                    <h6 style="color:white; margin-top: 20px;font-size: 15px;">Data Masuk:</h6>
                    <h6 id="Data_client_3" style="color:white; margin-top: 5px;margin-bottom: 15px; font-size: 15px;">
                        0</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<! -- SCRIPT -->
<script src="static/JS/moment-2.29.4/package/min/moment.min.js"></script>
<script src="static/JS/chart.js-4.4.0/package/dist/chart.umd.js"></script>
<script src="static/JS/jquery-3.7.1/package/dist/jquery.min.js"></script>
<script src="/static/script.js"></script>


</body>
</html>


